.SignupForm {
  &__input {
    border: 1px solid #e5e5e5;
    background: #f5f5f5;
    box-shadow: inset 0 1px 2px rgba(0,0,0, .07);
    display: block;
    width: 100%;
    border-radius: 3px;
    padding: 7px 12px;

    &:focus {
      outline: 0;
    }
  }

  &__explorer {
    color: #999;
  }

  &__explorer-logo {
    opacity: .5;
    transition: opacity .25s ease-in-out;
    margin-left: 15px;

    &:hover {
      opacity: 1;
    }
  }
}

.isSuccess {
  color: #00c18c;
}

.isFailure {
  color: #df3f3f;
}
