html {
    font-size: 1em;
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    min-height: 100%;
    height: 100%;
    color: #999;
    background: #fff;
}

html,
body {
    height: 100%;
}
