$global-colors: (
    // Base
    white: white,
    black: black,
    primary: #1b70c7,
    positive: #00c18c,
    negative: #df3f3f,
    warning: #ffd188,
);

$grayscale-colors: (
    darkest: #222,
    darker: #333,
    dark: #666,
    base: #999,
    light: #aaa,
    lighter: #bbb,
    lightest: #ccc
);
