.Sponsors {
  text-align: center;
  margin-top: 60px;
  > div {
    max-width: 100%;
  }

  &__item {

    &--platinum {
        margin-bottom: 40px;

        img {
          max-height: 100px;
        }
    }

    &--gold{

      img {
        max-height: 45px;
        margin-right: 20px;
        margin-bottom: 40px;
        max-width: 20%;

        &:last-child {
          margin-right: 0;
        }
        
        @media(--at-sm){
          max-width: 40%;
        }
      }
    }

    &--wrapper {
      margin: 0 auto 30px;
    }
  }

  &__logoContainer {
    margin: 0 10px 30px;
    display: inline-block;
    max-width: 20%;

    img {
      max-height: 40px;
    }

    @media (--at-sm){
      max-width: 40%;
    }
  }
}
