@custom-media --at-sm (width < 550px);
@custom-media --at-md (786px <= width < 1024px);
@custom-media --at-md-and-down (width <= 786px);
@custom-media --at-md-and-up (width >= 786px);
@custom-media --at-lg (width >= 1024px);

.Header {
  background-color: #0b0719;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;
  padding-top: 30px;
  padding-bottom: 30px;

  @media (--at-md-and-up) {
    background-image: url('./img/bg-header.png');
    padding-bottom: 90px;
  }

  &__bar {
    display: flex;
    align-items: center;
    flex-flow: wrap row;
    justify-content: space-between;
  }
}

.Logo {
  text-align: center;

  @media (--at-sm) {
    order: 1;
    flex: 100% 1;
    margin-bottom: 30px;
  }

  img {
    width: 90px;
    display: inline-block;
  }
}

.Nav {
  @media (--at-sm) {
    order: 2;
  }

  &__item {
    display: inline-block;
    margin-right: 15px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    font-size: 13px;
    color: #4f4f7a;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
  }
}

.Content {
  text-align: center;
  color: #4f4f7a;

  &__headline {
    display: inline-block;
    max-width: 720px;
    font-weight: 300;
    font-size: 24px;
    margin-top: 60px;

    b {
      color: #fff;
    }
  }

  &__subline {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

.Features {
  text-align: center;
  margin-top: 60px;

  @media (--at-md-and-up) {
    margin-top: 60px;
  }

  &__item {
    width: 33.3333%;
    display: inline-block;
    padding-left: 30px;
    vertical-align: top;

    @media (--at-md-and-down) {
      width: 100%;
      margin-top: 60px;

      &:first-child {
        margin-top: 0;
      }
    }
  }

  &__image {
    height: 68px;
  }

  &__title {
    font-size: 18px;
    margin-top: 15px;
    color: #fff;
  }

  &__content {
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 30px;
    font-weight: 300;
    color: rgba(255,255,255,.3);
    max-width: 360px;
    margin-left: auto;
    margin-right: auto;
  }
}
