@custom-media --at-sm (width < 550px);
@custom-media --at-md (786px <= width < 1024px);
@custom-media --at-md-and-down (width <= 786px);
@custom-media --at-md-and-up (width >= 786px);
@custom-media --at-lg (width >= 1024px);

.Section {
  background: #fff;

  &__content {
    position: relative;
    background: #fff;
    padding: 30px 0;
    border-radius: 5px 5px 0 0;

    @media (--at-md) {
      padding: 60px 0;
    }

    @media (--at-lg) {
      padding-top: 120px;
    }

    @media (--at-md-and-up) {
      top: -60px;

      &::before,
      &::after {
        content: '';
        position: absolute;
        top: 0;
        z-index: 1;
        width: 8px;
        height: 293px;
      }

      &::before {
        background: url('./images/bg-left-shadow.png');
        right: 100%;
        margin-right: -4px;
      }

      &::after {
        background: url('./images/bg-right-shadow.png');
        left: 100%;
        margin-left: -4px;
      }
    }
  }

  &__title {
    text-align: center;
    font-size: 32px;
    line-height: 36px;
    color: #101010;
    font-weight: bold;
  }

  &__tagline {
    text-align: center;
    color: #999;
    font-size: 16px;
    font-weight: 400;
    margin-top: 15px;
  }
}
