/**
 * = base.page
 */

html {
  color: var(--base-color);
  line-height: var(--base-line-height);
  font-family: var(--base-font-family);
  font-weight: 400;
  overflow-y: scroll;
  overflow-x: hidden;
  min-height: 100%;
  height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body,
.AppContainer,
.App {
  height: 100%;
}
