/**
 * = components.button
 */

.Btn {
  cursor: pointer;
  border-radius: 30px;
  font-weight: 500;
  border: 0;
  font-size: 14px;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  padding: 9px 30px;
  line-height: 22px;
  color: #666;
  transition: background-color .125s ease-in-out,
  box-shadow .125s ease-in-out, color .125s ease-in-out;

  &:hover {
    outline: 0;
    box-shadow: inset 0 -10em 0 rgba(255, 255, 255, .2);
  }

  &:active {
    box-shadow: inset 0 -10em 0 rgba(0, 0, 0, .1);
  }

  &--primary {
    background: var(--color-primary);
    color: #fff;
  }

  &--secondary {
    background: var(--color-secondary);
    color: #777;
  }

  &--tertiary {
    background: var(--color-tertiary);
    color: #fff;
  }

  &--positive {
    background: var(--color-positive);
    color: #fff;
  }

  &--negative {
    background: var(--color-negative);
    color: #fff;
  }
}
