/**
 * = trumps.spacing - generate paddings and margins.
 */

:root {
  --spacing-tiny:  calc(var(--base-spacing) / 4);
  --spacing-small: calc(var(--base-spacing) / 2);
  --spacing:       var(--base-spacing);
  --spacing-large: calc(var(--base-spacing) * 2);
  --spacing-huge:  calc(var(--base-spacing) * 4);
}

/*
 * Paddings
 */
.u-p--  { padding:        var(--spacing-tiny); }
.u-pt-- { padding-top:    var(--spacing-tiny); }
.u-pr-- { padding-right:  var(--spacing-tiny); }
.u-pl-- { padding-left:   var(--spacing-tiny); }
.u-pb-- { padding-bottom: var(--spacing-tiny); }
.u-pv-- { padding-top:    var(--spacing-tiny); padding-bottom: var(--spacing-tiny); }
.u-ph-- { padding-left:   var(--spacing-tiny); padding-right: var(--spacing-tiny); }

.u-p-  { padding:        var(--spacing-small); }
.u-pt- { padding-top:    var(--spacing-small); }
.u-pr- { padding-right:  var(--spacing-small); }
.u-pl- { padding-left  : var(--spacing-small); }
.u-pb- { padding-bottom: var(--spacing-small); }
.u-pv- { padding-top:    var(--spacing-small); padding-bottom: var(--spacing-small); }
.u-ph- { padding-left:   var(--spacing-small); padding-right: var(--spacing-small); }

.u-p  { padding:        var(--spacing); }
.u-pt { padding-top:    var(--spacing); }
.u-pr { padding-right:  var(--spacing); }
.u-pl { padding-left:   var(--spacing); }
.u-pb { padding-bottom: var(--spacing); }
.u-pv { padding-top:    var(--spacing); padding-bottom: var(--spacing); }
.u-ph { padding-left:   var(--spacing); padding-right: var(--spacing); }

.u-p\+  { padding:        var(--spacing-large); }
.u-pt\+ { padding-top:    var(--spacing-large); }
.u-pr\+ { padding-right:  var(--spacing-large); }
.u-pl\+ { padding-left:   var(--spacing-large); }
.u-pb\+ { padding-bottom: var(--spacing-large); }
.u-pv\+ { padding-top:    var(--spacing-large); padding-bottom: var(--spacing-large); }
.u-ph\+ { padding-left:   var(--spacing-large); padding-right: var(--spacing-large); }

.u-p\+\+  { padding:        var(--spacing-huge); }
.u-pt\+\+ { padding-top:    var(--spacing-huge); }
.u-pr\+\+ { padding-right:  var(--spacing-huge); }
.u-pl\+\+ { padding-left:   var(--spacing-huge); }
.u-pb\+\+ { padding-bottom: var(--spacing-huge); }
.u-pv\+\+ { padding-top:    var(--spacing-huge); padding-bottom: var(--spacing-huge); }
.u-ph\+\+ { padding-left:   var(--spacing-huge); padding-right: var(--spacing-huge); }

/*
 * Margins
 */
.u-m--  { margin:        var(--spacing-tiny); }
.u-mt-- { margin-top:    var(--spacing-tiny); }
.u-mr-- { margin-right:  var(--spacing-tiny); }
.u-ml-- { margin-left:   var(--spacing-tiny); }
.u-mb-- { margin-bottom: var(--spacing-tiny); }
.u-mv-- { margin-top:    var(--spacing-tiny); padding-bottom: var(--spacing-tiny); }
.u-mh-- { padding-left:  var(--spacing-tiny); padding-right: var(--spacing-tiny); }

.u-m-  { margin:        var(--spacing-small); }
.u-mt- { margin-top:    var(--spacing-small); }
.u-mr- { margin-right:  var(--spacing-small); }
.u-ml- { margin-left:   var(--spacing-small); }
.u-mb- { margin-bottom: var(--spacing-small); }
.u-mv- { margin-top:    var(--spacing-small); padding-bottom: var(--spacing-small); }
.u-mh- { padding-left:  var(--spacing-small); padding-right: var(--spacing-small); }

.u-m  { margin:        var(--spacing); }
.u-mt { margin-top:    var(--spacing); }
.u-mr { margin-right:  var(--spacing); }
.u-ml { margin-left:   var(--spacing); }
.u-mb { margin-bottom: var(--spacing); }
.u-mv { margin-top:    var(--spacing); padding-bottom: var(--spacing); }
.u-mh { padding-left:  var(--spacing); padding-right: var(--spacing); }

.u-m\+  { margin:        var(--spacing-large); }
.u-mt\+ { margin-top:    var(--spacing-large); }
.u-mr\+ { margin-right:  var(--spacing-large); }
.u-ml\+ { margin-left:   var(--spacing-large); }
.u-mb\+ { margin-bottom: var(--spacing-large); }
.u-mv\+ { margin-top:    var(--spacing-large); margin-bottom: var(--spacing-large); }
.u-mh\+ { margin-left:   var(--spacing-large); margin-right: var(--spacing-large); }

.u-m\+\+  { margin:        var(--spacing-huge); }
.u-mt\+\+ { margin-top:    var(--spacing-huge); }
.u-mr\+\+ { margin-right:  var(--spacing-huge); }
.u-ml\+\+ { margin-left:   var(--spacing-huge); }
.u-mb\+\+ { margin-bottom: var(--spacing-huge); }
.u-mv\+\+ { margin-top:    var(--spacing-huge); margin-bottom: var(--spacing-huge); }
.u-mh\+\+ { margin-left:   var(--spacing-huge); margin-right: var(--spacing-huge); }

/*
 * Negative margins
 */
.u--m--  { margin:        -var(--spacing-tiny); }
.u--mt-- { margin-top:    -var(--spacing-tiny); }
.u--mr-- { margin-right:  -var(--spacing-tiny); }
.u--ml-- { margin-left:   -var(--spacing-tiny); }
.u--mb-- { margin-bottom: -var(--spacing-tiny); }
.u--mv-- { margin-top:    -var(--spacing-tiny); padding-bottom: -var(--spacing-tiny); }
.u--mh-- { padding-left:  -var(--spacing-tiny); padding-right: -var(--spacing-tiny); }

.u--m-  { margin:        -var(--spacing-small); }
.u--mt- { margin-top:    -var(--spacing-small); }
.u--mr- { margin-right:  -var(--spacing-small); }
.u--ml- { margin-left:   -var(--spacing-small); }
.u--mb- { margin-bottom: -var(--spacing-small); }
.u--mv- { margin-top:    -var(--spacing-small); padding-bottom: -var(--spacing-small); }
.u--mh- { padding-left:  -var(--spacing-small); padding-right: -var(--spacing-small); }

.u--m  { margin:        -var(--spacing); }
.u--mt { margin-top:    -var(--spacing); }
.u--mr { margin-right:  -var(--spacing); }
.u--ml { margin-left:   -var(--spacing); }
.u--mb { margin-bottom: -var(--spacing); }
.u--mv { margin-top:    -var(--spacing); padding-bottom: -var(--spacing); }
.u--mh { padding-left:  -var(--spacing); padding-right: -var(--spacing); }

.u--m\+  { margin:        -var(--spacing-large); }
.u--mt\+ { margin-top:    -var(--spacing-large); }
.u--mr\+ { margin-right:  -var(--spacing-large); }
.u--ml\+ { margin-left:   -var(--spacing-large); }
.u--mb\+ { margin-bottom: -var(--spacing-large); }
.u--mv\+ { margin-top:    -var(--spacing-large); margin-bottom: -var(--spacing-large); }
.u--mh\+ { margin-left:   -var(--spacing-large); margin-right: -var(--spacing-large); }

.u--m\+\+  { margin:        -var(--spacing-huge); }
.u--mt\+\+ { margin-top:    -var(--spacing-huge); }
.u--mr\+\+ { margin-right:  -var(--spacing-huge); }
.u--ml\+\+ { margin-left:   -var(--spacing-huge); }
.u--mb\+\+ { margin-bottom: -var(--spacing-huge); }
.u--mv\+\+ { margin-top:    -var(--spacing-huge); margin-bottom: -var(--spacing-huge); }
.u--mh\+\+ { margin-left:   -var(--spacing-huge); margin-right: -var(--spacing-huge); }
