.Section {
  background: #fafdff;
  padding: 120px 0;
  border-top: 1px solid #f5f5f5;
  box-shadow: inset 0 1px 0 #fff;
  background: url('./img/bg.jpg') no-repeat top;
  background-size: contain;

  &__title {
    font-size: 32px;
    line-height: 38px;
    color: #101010;
    font-weight: 700;
    text-align: center;
  }

  &__tagline {
    text-align: center;
    font-weight: 400;
    margin-top: 15px;
    font-size: 16px;
    line-height: 22px;
    color: #999;
  }

  &__more {
    text-align: center;
    margin-top: 60px;
  }
}

.Features {
  font-weight: 0;
  margin-left: -20px;
  margin-top: 60px;

  &__item {
    font-size: 16px;
    display: inline-block;
    width: 25%;
    margin-bottom: 30px;
    padding-left: 20px;
  }

  &__itemTitle {
    font-size: 18px;
    color: #101010;
    font-weight: bold;
  }

  &__itemContent {
    font-size: 14px;
    color: #666;
    margin-top: 5px;
  }
}

$alphaColor: #ffc700;
$betaColor: #ff7376;
$gammaColor: #70d0ec;
$deltaColor: #101010;

.Plans {
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
  margin-left: -20px;

  &__item {
    flex: 1;
    padding-left: 20px;
  }

  &__itemInner {
    border: 2px solid #e5e5e5;
    padding: 30px;
    border-top: 0;
    box-shadow: 0 -4px 0 $alphaColor;

    .isAlpha & { box-shadow: 0 -4px 0 $alphaColor; }
    .isBeta  & { box-shadow: 0 -4px 0 $betaColor; }
    .isGamma & { box-shadow: 0 -4px 0 $gammaColor; }
    .isDelta & { box-shadow: 0 -4px 0 $deltaColor; }
  }

  &__itemTitle {
    .isAlpha & { color: $alphaColor; }
    .isBeta  & { color: $betaColor; }
    .isGamma & { color: $gammaColor; }
    .isDelta & { color: $deltaColor; }
  }

  &__itemPrice {
    font-size: 12px;
    color: #aaa;
  }

  &__features {
    font-size: 12px;
    color: #666;
    list-style-type: none;
    margin-top: 15px;
  }

  &__itemButton {
    font-size: 12px;
    font-weight: bold;
    border: 2px solid;
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 4px 0;
    border-radius: 5px;
    margin-top: 15px;
    transition: .25s ease;

    .isAlpha & { color: $alphaColor; border-color: $alphaColor; }
    .isBeta  & { color: $betaColor; border-color: $betaColor; }
    .isGamma & { color: $gammaColor; border-color: $gammaColor; }
    .isDelta & { color: $deltaColor; border-color: $deltaColor; }

    &:hover {
      color: #fff;

      .isAlpha & { background: $alphaColor; }
      .isBeta  & { background: $betaColor; }
      .isGamma & { background: $gammaColor; }
      .isDelta & { background: $deltaColor; }
    }
  }
}
