.Header {
  background-color: #0b0719;
  background-repeat: no-repeat;
  background-position: center -60px;
  padding: 30px 0;

  @media (--at-md-and-up) {
    background-image: url('./images/bg-header.png');
    padding-bottom: 90px;
  }

  &__bar {
    display: flex;
    align-items: center;
    flex-flow: wrap row;
    justify-content: space-between;
  }

  &__nav {
    flex: 25% 0;

    &--last {
      text-align: right;
    }

    &-link {
      font-size: 14px;
      color: #4f4f7a;
      font-weight: bold;
      text-decoration: none;
      text-transform: uppercase;
      transition: color .25s;

      &:hover {
        color: #fff;
      }
    }
  }

  &__logo {
    &-link {
      color: #666;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    &-image {
      width: 90px;
      display: inline-block;
    }
  }

  &__content {
    text-align: center;
    color: #4f4f7a;

    &-title {
      display: inline-block;
      max-width: 720px;
      font-weight: 300;
      font-size: 24px;
      line-height: 36px;
      margin-top: 60px;
      color: inherit;

      b {
        color: #fff;
      }
    }

    &-subline {
      margin-top: 30px;
      margin-bottom: 30px;
    }
  }
}
