@custom-media --at-md (786px <= width < 1024px);
@custom-media --at-lg (width >= 1024px);

.OfficeFeatures {
  font-weight: 0;
  margin-left: -20px;
  margin-top: 60px;

  &__item {
    font-size: 16px;
    display: inline-block;
    margin-bottom: 30px;
    vertical-align: top;
    padding-left: 20px;

    @media (--at-md) {
      width: 50%;
    }

    @media (--at-lg) {
      width: 25%;
    }
  }

  &__item-title {
    font-size: 18px;
    color: #101010;
    font-weight: bold;
  }

  &__item-badge {
    position: relative;
    vertical-align: middle;
    top: -1px;
    margin-left: 10px;
    font-size: 10px;
    display: inline-block;
    padding: 0px 5px;
    background: #e5e5e5;
    border-radius: 3px;
    color: #999;
    font-weight: bold;
    line-height: 21px;
    text-transform: uppercase;
  }

  &__item-content {
    font-size: 14px;
    color: #666;
    margin-top: 5px;
  }
}
