/**
 * = trumps.headings - manage your font sizes.
 */

 $base-font-size: 16px !default;
 $base-line-height: 24px !default;

/*
 * List of heading font sizes and line heights */
$headings: (
  // Extra large sizes
  giga: 60px 60px,
  mega: 45px 52px,
  kilo: 36px 46px,
  // Primary font sizes
  alpha: 32px 42px,
  beta: 28px 36px,
  gamma: 24px 32px,
  delta: 22px 30px,
  epsilon: 18px 24px,
  zeta: 16px 24px,
  // Extra small sizes
  milli: 14px 20px,
  micro: 13px 18px,
  nano: 12px 16px,
  pico: 10px 14px,
) !default;

@each $alias, $values in $headings {
  $font-size: nth($values, 1);
  $line-height: auto;

  @if length($values) == 2 {
    $line-height: nth($values, 2);
  }

  .#{$alias} {
    font-size: $font-size;
    font-size: ($font-size / $base-font-size) * 1rem;

    @if $line-height == auto {
      line-height: ceil($font-size / $base-line-height) * ($base-line-height / $font-size);
    } @else if type-of($line-height) == number or $line-height == inherit or $line-height == normal {
      line-height: $line-height;
    } // end @else if
  }
} // end @each
